<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interprelab - InterpreBot</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="index.html">
                    <img src="images/logo.svg" alt="InterpreLAB Logo" class="logo-image">
                </a>
            </div>
            <div class="menu">
                <a href="interprebot.html">InterpreBot</a>
                <a href="InterpreCoach.html">InterpreCoach</a>
                <a href="Resources.html">Resources</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
                <a button>Sign Up</a>
                <a button>Sign In</a>
            </div>
            <button class="cta-button">Contact Sales</button>
        </div>
    </nav>